EDcomplete
tes
test
dmft_nca.mod
nca_aux_funx.mod
nca_diag.mod
nca_greens_functions.mod
nca_hlocal.mod
nca_input_vars.mod
nca_main.mod
nca_vars_global.mod
DMFT_NCA.o
NCA_AUX_FUNX.o
NCA_DIAG.o
NCA_GREENS_FUNCTIONS.o
NCA_HLOCAL.o
NCA_INPUT_VARS.o
NCA_MAIN.o
NCA_VARS_GLOBAL.o
revision.inc
.DS_Store
testing
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
nca_setup.mod
*.o
nca_observables.mod
